.certificatebg{
  background-color: #f5f5f5;
}
.certificate_img{
  float: left;
  margin-left: 30px;
}
.certificate_img1{
  margin-left: 0;
}
.certificate_img6{
  display: none;
}


.honours_contain{
  /* float: left; */
  display: inline-block;
  margin: 0 20px 20px 0;
  background-color: #ffffff;
	box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.08);
}
.honours_contain1{
  margin-left: 0px;
}

.honours_contain p{
  margin: 20px 23px 0 23px;
}
.honours_contain span{
  display: block;
  padding: 20px 0 27px 0;
  text-align: center;
	font-size: 14px;
  color: #666666;
}
@media screen and (max-width: 768px) {
  /* .certificate_img img{
    width: 100%;
    height: 150px;
  } */
  /* .first_flow{
    width: 100%;
  }
  .second_flow{
    width: 100%;
    height: 150px;
  } */
  /* .certificate_img{
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    width: 33%;
  } */
  /* .certificate_img6{
    display: block;
  } */
  .certificate_img{
    display: none;
  }
  .phone_certificate_img{
    height: 318px;
    width: 100%
  }
  .honours_contain p {
    margin: 12px 10px 0 10px;
}
.honours_contain img{
  height: 95px;
  width: 145px;
}
.phone_honours_contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.honours_contain{
  height: 160px;
  margin: 0 0 17px 0;
  /* margin-bottom: 17px; */
  /* margin: 0 20px 17px 0; */
  /* margin-left: 0; */
}
.honours_contain span{
  padding: 0px;
  font-size: 12px;
  margin-left: 0px;
  max-width: 134px;
  /* text-align: left; */
  margin: 0 auto;
  padding: 12px 0;
}
.honours_secondrow{
  margin: 0;
}
}