.bannerbg {
  background: url("../images/culture_banner.jpg") no-repeat center;
}
.employee_care_text{
  max-width: 797px;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
	font-size: 14px;
  color: #666;
}
.employee_care_img{
  width: 1100px;
  margin: 0 auto;
}
.work_environmentbg{
  /* height: 490px; */
  background-color: #f5f5f5;
  padding: 50px 0 40px 0;  
}
.work_environment{
  background-color: #fff;

}
.work_environment_contain{
  font-size: 14px;
	color: #666;
}
.work_environment_contain .text_contain{
  float: left;
  max-width: 490px;
  margin: 50px 0 0 80px;
  line-height: 25px;
}
.work_environment_contain .text1{
  padding-bottom: 35px;
}
.work_environment_img{
  float: left;
  margin-left: 90px;
}

.wf{
  text-align: center;
  float: left;
  margin-left: 30px;
}
.welfare1{
  margin-left: 0px;
}
.welfare_img{
  width: 100px;
  height: 100px;
  margin: 0 57.5px;
  background: url(../images/welfare.jpg) no-repeat center;
}
.welfare_img1{
  background-position: center 0;
}
.welfare_text1{
  margin-top: 5px;
	font-size: 16px;
	color: #333;
}
.welfare_text2{
  max-width: 215px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 25px;
	color: #666;
}
.welfare_img2{
  background-position: center -100px;
}
.welfare_img3{
  background-position: center -200px;
}
.welfare_img4{
  background-position: center -300px;
}
.welfare_img5{
  background-position: center -400px;
}



.process_contain {
  margin-top: -10px;
  padding: 0 10px;
}

.process_block {
  float: left;
  margin-left: -10px;
}

.processimg {
  width: 140px;
  height: 140px;
  background: url(../images/recruit1.png) center no-repeat;
}

.processimg1 {
  background-position: center 0;
}

.processimg2 {
  background-position: center -140px;
}

.processimg3 {
  background-position: center -280px;
}

.processimg4 {
  background-position: center -420px;
}

.process_text {
  padding-top: 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
  line-height: 18px;
}

.process_line {
  float: left;
  margin: 62px 0 0 -10px;
  width: 227px;
  height: 16px;
  background: url(../images/join-recruit2.png) no-repeat center;
}

.station{
  padding-bottom: 30px;
}
.stationbg_p {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #666;
  padding-bottom: 40px;
}

.station_left {
  float: left;
}

.station_left p {
  width: 290px;
  height: 76px;
  line-height: 76px;
  text-align: center;
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.station_left_active,
.station_left p:hover {
  color: #fff;
  background-color: #0188cc;
  box-shadow: 0px 4px 6px 0px rgba(1, 136, 204, 0.2);
}

.station_left a {
  color: inherit;
}

.station_left_active a {
  color: #fff;
}

.station_right {
  float: left;
  margin-left: 80px;
}

.station_right {
  width: 830px;
}

.recruitlist>li {
  margin-bottom: 30px;
  background-color: #eee;
}

.recruit_wrap {
  padding: 0 60px;
}

.recruitlist_tit {
  position: relative;
  font-size: 18px;
  color: #0188cc;
}
.recruitlist_tit p{
  height: 34px;
  line-height: 50px;
}
.recruitlist_tit strong{
  font-size: 16px;
  color: #666;
  line-height: 50px;
}

.recruitlist_tit>span {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  right: 66px;
  top: 16px;
  background: url(../images/join-recruit3.png) no-repeat center;
  background-position: center 0;
}

.recruitlist_tit>.span_icon_active {
  background-position: center -30px;
}

.recruitlist_main {
  border-top: 1px dashed #cbd4d9;
  display: none;
  padding-bottom: 20px;
}

.recruitlist_main_block {
  margin-top: 20px;
}

.recruitlist_main_block h1 {
  font-size: 16px;
  color: #0188cc;
  line-height: 16px;
  padding-bottom: 10px;
}

.recruitlist_main_block li {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.trainee_contain {
  float: left;
  width: 372px;
  /* height: 324px; */
  background-color: #0188cc;
  margin-left: 40px;
}

.trainee_contain1 {
  margin-left: 0;
}

.trainee_text {
  font-size: 14px;
  margin: 0 auto;
  color: #ffffff;
  padding: 28px 25px;
}

.staff_trainingbg {
  background: url(../images/culture_training.png) center no-repeat;
}

.staff_training_contain {
  position: relative;
  margin-left: 560px;
}

.staff_training_block {
  position: relative;
  width: 660px;
}

.training_block_left {
  position: relative;
  float: left;
  padding: 7px 0 0 42px;
  line-height: 47px;
  font-size: 53px;
  color: #0188cc;
}

.training_block_right {
  float: left;
  /* width: 517px; */
  padding: 32px 0 0 20px;
}

.training_block_right .text1 {
  line-height: 20px;
  font-size: 20px;
  color: #0188cc;
}

.training_block_right .text2 {
  padding-top: 13px;
  max-width: 517px;
  font-size: 14px;
  color: #333333;
}

.training_block_left::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 26px;
  left: 0px;
  border: solid 1px #0188cc;
  border-radius: 100%;
}

.training_block_left::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 31px;
  left: 5px;
  background-color: #0188cc;
  border-radius: 100%;
}

.staff_training_line {
  position: absolute;
  width: 2px;
  background-color: #0188cc;
  left: 9px;
  top: 0;
  bottom: 0;
}

.manager_training_text {
  float: left;
  padding: 40px 0 0 62px;
  max-width: 450px;

}

.manager_training_text p {
  padding-bottom: 30px;
}

.manager_training_img {
  float: left;
  margin: 4px 0 0 70px;
  width: 540px;
}
@media (max-width: 768px) {
  .bannerbg {
    height: 280px;
    background: url(../images/phone_img_culture.jpg) no-repeat center;
    background-size: 100% 100%;
  }


  .work_environment_contain .text_contain {
    max-width: none;
  }

  .work_environment_img {
    float: none;
    margin: 0;
    width: auto;
  }

  .work_environment {
    background-color: transparent;
    padding-bottom: 0px;
  }

  .work_environmentbg {
    padding-top: 0;
  }

  .employee_care_text {
    padding-bottom: 20px;
  }
  .employee_care_img{
    width: auto;
  }

  .wf_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .welfare_img1 {
    background-position: center 0;
  }

  .welfare_img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .welfare_text1{
    font-size: 12px;
    font-weight: 600;
  }
  .welfare_text2{
    margin-top: 10px;
    max-width: inherit;
    font-size: 10px;
  }
  .wf {
    margin-left: 13px;
    width: 100px;
    /* margin-bottom: 22px; */
  }
  .welfare_img{
    background-size: 50px auto;
  }
  .welfare_img2 {
    background-position: center -50px;
  }
  
  .welfare_img3 {
    background-position: center -100px;
  }
  
  .welfare_img4 {
    background-position: center -150px;
  }
  
  .welfare_img5 {
    background-position: center -200px;
  }






  .station_left {
    float: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .station_left p {
    display: inline-block;
    width: 145px;
    height: 38px;
    font-size: 15px;
    margin: 0 13px;
  }

  .stationbg_p {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 0px;

  }

  .station_left a {
    line-height: 38px;
  }

  .station_right {
    float: none;
    margin-left: 0;
    width: auto;
  }

  .recruit_wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .recruitlist>li {
    margin-bottom: 25px;
    background-color: #f5f5f5;
  }

  .recruitlist_tit {
    padding: 10px 20px;
    line-height: inherit;
    font-size: 13px;
  }

  .recruitlist_tit>p {
    margin-bottom: 2px;
    height: auto;
    line-height: 25px;
  }

  .recruitlist_tit>strong {
    font-size: 10px;
    color: #666;
    line-height: 25px;
    margin-right: 20px;
  }

  .recruitlist_tit>span {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }

  .recruitlist_main_block h1 {
    font-size: 12px;
  }

  .recruitlist_main_block li {
    font-size: 11px;
  }

  .recruitlist_main {
    padding-bottom: 25px;
  }





  .trainee_contain{
    float: none;
    width: auto;
    margin-left: 0;
    background-color: #f5f5f5;
    margin-bottom: 20px;
  }
  .trainee_contain:last-child{
    margin-bottom: 0;
  }
  .trainee_text{
    padding: 15px;
    color: #333;
  }
  .staff_trainingbg{
    background: url(../images/phone_img_join.jpg);
    background-size: cover;
  }
  .manager_training_text{
    max-width: none;
    float: none;
    padding:0;
  }
  .manager_training_img{
    float: none;
    margin:0 20px;
    width: auto;
  }
  .staff_training_contain{
    margin-left: 0;
  }
  .manager_training_text p{
    font-size: 12px;
    padding-bottom: 25px;
    line-height: 24px;
  }

}