.bannerbg{
	background: url("../images/contact_banner.png") no-repeat center;
}

.employee_care_text{
  max-width: 797px;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
	font-size: 14px;
  color: #666;
}
.employee_care_img{
  width: 1100px;
  margin: 0 auto;
}
.work_environmentbg{
  /* height: 490px; */
  background-color: #f5f5f5;
  padding: 50px 0 40px 0;  
}
.work_environment{
  background-color: #fff;

}
.work_environment_contain{
  font-size: 14px;
	color: #666;
}
.work_environment_contain .text_contain{
  float: left;
  max-width: 490px;
  margin: 50px 0 0 80px;
  line-height: 25px;
}
.work_environment_contain .text1{
  padding-bottom: 28px;
}
.work_environment_img{
  float: left;
  margin-left: 90px;
}

.wf{
  text-align: center;
  float: left;
  margin-left: 30px;
}
.welfare1{
  margin-left: 0px;
}
.welfare_img{
  width: 100px;
  height: 100px;
  margin: 0 57.5px;
  background: url(../images/welfare.jpg) no-repeat center;
}
.welfare_img1{
  background-position: center 0;
}
.welfare_text1{
  margin-top: 5px;
	font-size: 16px;
	color: #333;
}
.welfare_text2{
  max-width: 215px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 25px;
	color: #666;
}
.welfare_img2{
  background-position: center -100px;
}
.welfare_img3{
  background-position: center -200px;
}
.welfare_img4{
  background-position: center -300px;
}
.welfare_img5{
  background-position: center -400px;
}
@media (max-width: 768px) {
  .work_environment_contain .text_contain {
    margin: 0;
  }

  .work_environment_img {
    margin: 0;
    width: auto;
  }

  .banner_title {
    font-size: 18px;
    line-height: 30px;
  }

  .work_environment {
    background-color: transparent;
    padding-bottom: 0px;
  }

  .work_environmentbg {
    padding-top: 0;
  }

  .employee_care_text {
    padding-bottom: 20px;
  }
  .employee_care_img{
    width: auto;
  }

  .wf_wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .welfare_img1 {
    background-position: center 0;
  }

  .welfare_img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .welfare_text1{
    font-size: 12px;
    font-weight: 600;
  }
  .welfare_text2{
    margin-top: 10px;
    max-width: inherit;
    font-size: 10px;
  }
  .wf {
    margin-left: 13px;
    width: 100px;
    /* margin-bottom: 22px; */
  }
  .welfare_img{
    background-size: 50px auto;
  }
  .welfare_img2 {
    background-position: center -50px;
  }
  
  .welfare_img3 {
    background-position: center -100px;
  }
  
  .welfare_img4 {
    background-position: center -150px;
  }
  
  .welfare_img5 {
    background-position: center -200px;
  }
}