html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear:after{
	content:"";/*设置内容为空*/
	display:block;/*将文本转为块级元素*/
	clear:both;/*清除浮动*/
}
body{
	font: Microsoft YaHei;
}
.clear{
	*zoom:1;/*为了兼容IE*/
}
img{
	border: none;
}
a{
  display: block;
	text-decoration: none;
}






.common_wrap{
	padding-top: 80px;
}

.wrapbg{
	min-width: 1200px;
}
.wrap{
	margin: 0 auto;
	width: 1200px;
}
.bannerbg{
	height: 670px;
	background: url("../images/banner.png") no-repeat center;
}
.header{
	height: 80px;
}
.headerbg{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 80px;
	background-color: transparent;
	z-index: 5;
}
.headerbg_active{
	background: #0188cc;


	transition: 2s;
}
.logo{
	float: left;
	width: 116px;
	height: 46px;
	margin: 17px 0 0 11px;
	background: url("../pic/logo.png") no-repeat center;
}
.top_nav{
	float: right;
}

.index{
	position: relative;
	float: left;
	padding: 0 27px 0 27px;
	list-style: none;
	line-height: 80px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-top: 4px solid transparent;
}
.index:hover{
	background: #fff;
	color: #0188cc;;
	border-top: 4px solid #67b8e0;
}
.index>a{
	line-height: 76px;
	color: inherit; 
}
.topnav_other{
	position: relative;
	float: left;
	padding: 0 27px 0 27px;
	list-style: none;
	line-height: 80px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-top: 4px solid transparent;
}
.topnav_other:hover{
	background: #fff;
	color: #0188cc;
	border-top: 4px solid  #67b8e0;
}
.topnav_other>a{
	line-height: 76px;
	color: inherit; 
}
.topnav_other span{
	display: inline-block;
	width: 15px;
	height: 10px;
	background: url("../images/icon.png") center no-repeat;
	background-position: center 0px;
}
.nav_active span{
	display: inline-block;
	width: 15px;
	height: 10px;
	background-position: center -10px;
}
.extend{
	position: absolute;
	min-width: 133px;
	display: none;
	/* margin-left: -27px; */
	left: 0;
	font-size: 16px;
	color: #0188cc;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
.extend li{
	text-align: left;
	list-style: none;
	height: 48px;
	line-height: 48px;
	padding: 0 26px;
	word-break: keep-all;
	/* padding-right: 28px; */
}
.extend li:hover{
	background: #e5f3fa;
}
.extend a{
	line-height: 48px;
	height: 48px;
	color: #0188cc;
	opacity: 1;
}
.topnav_other:hover .extend{
	display: block;
	opacity: 1;
}

.bannerbg {
  height: 590px;
	background: url("../images/banner.png") no-repeat center;  
}
.banner {
  padding-top: 220px;
}
.banner_title{
	line-height: 62px;
	font-size: 66px;
	color: #fff;
}



.phone_menu{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	background: #fff;
	z-index: 1;
}
.phone_menu ul{
	height: inherit;
}
.phone_menu_link>li{
	line-height: 30px;
	font-size: 20px;
}
.phone_menu a{
	color: inherit;
} 
.phone_menu_title{
	position: relative;
}
.phone_menu_extend{
	display: none;
}
.phone_menu_extend li{
	line-height: 20px;
	font-size: 10px;
}


.banner{
	height: 590px;
	padding-top: 220px;
	color: #fff;
	text-align: center;
}
.banner_title{
	line-height: 62px;
	font-size: 66px;
	color: #fff;
}
.title_text{
	margin-top: 32px;
	line-height: 27px;
	font-size: 28px;
}
@media screen and (max-width: 768px) {
	.wrapbg{
		min-width: auto;
		height: auto;
	}
	.wrap{
		width: auto;
	}
	.bannerbg{
		width: auto;
		height: 280px;
		background-size: cover;
	}
	.header{
		height: 50px;
	}
	.headerbg{
		height: 50px;
	}
	.logo{
		width: 75px;
		height: 30px;
		background-size: cover;
		margin: 10px 0 0 15px;
	}
	.top_nav{
		display: none;
	}
	.banner{
		height: 230px;
		padding-top: 100px;
	}
.banner_title{
	line-height: 28px;
	font-size: 30px;
	}
	.title_text{
		margin-top: 20px;
		line-height: 18px;
		font-size: 18px;
	}
	.phone_top_button{
		float: right;
		display: block;
		margin-right: 15px;
		width: 19px;
		height: 100%;
		background: url(../images/phone_button.png) center no-repeat;
		background-size: 100%;
	}
}