.headerbg{
	background:#0188cc;
}
.main{
  min-height: calc(100vh - 362px);
}
.left{
  float: left;
  position: relative;
  width: 240px;
  /* margin-top: 50px; */
  border-bottom: 1px solid #e5e5e5;
}

.footerbg{
  clear: both;
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute;
  bottom: 0;
  left: 0; */
}

.productlist_tit {
  position: relative;
  line-height: 50px;
  font-size: 16px;
  color: #000;
  border-top: 1px solid #e5e5e5;
}
.productlist_tit_icon{
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 13px;
  background: url(../images/product-service1.png) center no-repeat;
}
.productlist_tit_icon1{
  background-position: center 0;
}
.productlist_tit p{
  display: inline-block;
  padding-left: 7px;
}
.productlist_tit>span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 16px;
  background: url(../images/product_service_icon.png) no-repeat center;
  background-position: center 0px;
}

.productlist_tit>.span_icon_active {
  background-position: center -20px;
}

.productlist_main {
  display: none;
  padding: 0 0 20px 0;
  font-size: 14px;
	color: #666;
}
.productlist_main p{
  line-height: 40px;
  padding-left: 33px;
}

.productlist_main a{
  color: inherit;
}
.productlist_main_p_active,
.productlist_main p:hover{
  color: #0188cc;
  background-color: #eee;
  border-right: 3px solid #0188cc;
}
.productlist_tit_icon2{
  background-position: center -25px;
}
.productlist_tit_icon3{
  background-position: center -50px;
}
.productlist_tit_icon4{
  background-position: center -75px;
}
.right{
  margin-left: 300px;
  margin-top: 50px;
  /* padding-top: 50px; */
}
.title_img{
  width: 100%;
  background: url(../images/product_title_img.jpg) center no-repeat;
  margin-bottom: 40px;
}
.title_img2{
  width: 100%;
  background: url(../images/product_title_img2.jpg) center no-repeat;
  margin-bottom: 40px;
}
.title_img3{
  width: 100%;
  background: url(../images/product_title_img3.jpg) center no-repeat;
  margin-bottom: 40px;
}
.title_img4{
  width: 100%;
  background: url(../images/product_title_img4.jpg) center no-repeat;
  margin-bottom: 40px;
}
.product_title{
	font-size: 22px;
  color: #feffff;
  padding: 28px 0 5px 50px;
}
.product_title_text{
  font-size: 16px;
  color: #feffff;
  padding: 0 0 28px 50px;
}
.product_img{
  float: left;
  width: 318px;
  /* height: 308px; */
  margin-left: 40px;
}
.product_introduce{
  float: left;
  margin-left: 40px;
  max-width: 500px;
}
.product_introduce p{
  padding: 17px 20px;
  border: solid 1px #eee;
  margin-bottom: 16px;
  font-size: 14px;
	line-height: 24px;
	color: #333;
}
.product_contain>p{
  max-width: 390px;
  float: left;
  padding: 17px 25px;
  border: solid 1px #eee;
  margin-bottom: 26px;
  margin-left: 16px;
  font-size: 14px;
	line-height: 24px;
	color: #333;
}
.product_contain_text_first{
  margin-left: 0 !important;
}
@media (max-width: 768px) {
  .right{
    margin-left: 0;
    margin-top: 0px;
  }
  .title_img2{
    background-size: cover;
    margin-bottom: 20px;
  }
  .product_title{
    padding: 16px;
    font-size: 18px;
  }
  .product_title_text{
    display: none;
  }
  .product_contain>p{
    margin-left: 0px;
    margin-bottom: 20px;
    /* max-width: 312px;  */
    font-size: 14px;
  }

  .title_img{
    background-size: cover;
    margin-bottom: 20px;
  }
  .product_img{
    float: none;
    width: 50%;
    height: 50%;
    margin: 0 auto 25px;
  }
  .product_introduce{
    margin-left: 0px;
  }
  .product_introduce p{
    font-size: 14px;
  }
}